version: '3'
services:

  beanstalkd:
    hostname: test-beanstalkd-server
    image: schickling/beanstalkd
    tty: true
    expose:
      - 11300
    ports:
      - 11300:11300

  all_tests:
    build:
      context: .
      dockerfile: Dockerfile.dev
    tty: true
    volumes:
      - .:/home/beanstalkclient
    depends_on:
      - beanstalkd
    environment:
      - BEANSTALKD_ADDR=test-beanstalkd-server:11300
    command: bash -c "~/.cargo/bin/cargo test"

  usage_example:
    build:
      context: .
      dockerfile: Dockerfile.dev
    tty: true
    volumes:
      - .:/home/beanstalkclient
    depends_on:
      - beanstalkd
    environment:
      - BEANSTALKD_ADDR=test-beanstalkd-server:11300
      - RUST_LOG=debug
    command: bash -c "~/.cargo/bin/cargo run --example connection_and_request"